name: Create Release Branch

on:
  workflow_dispatch:
    inputs:
      customer:
        description: 'Customer Name'
        required: true
      version:
        description: 'Version Number'
        required: true

jobs:
  create_branch:
    runs-on: ubuntu-latest
    steps:
      - name: Create Release Branch
        run: |
          git checkout master
          git pull origin master
          git checkout -b releases/$CUSTOMER-$VERSION
          git push origin releases/$CUSTOMER-$VERSION
        env:
          CUSTOMER: ${{ github.event.inputs.customer }}
          VERSION: ${{ github.event.inputs.version }}
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
