name: Create Release Branch

on:
  workflow_dispatch:
    inputs:
      customer:
        description: 'Customer Name'
        required: true
      version:
        description: 'Version Number'
        required: true

jobs:
  create_branch:
    runs-on: ubuntu-latest
    steps:
      - name: Create Release Branch
        uses: peterjgrainger/action-create-branch@v2.2.0
        with:
          branch: refs/heads/releases/$CUSTOMER-$VERSION
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          CUSTOMER: ${{ github.event.inputs.customer }}
          VERSION: ${{ github.event.inputs.version }}
