name: PR Source Test

on:
  pull_request:
    branches:
      - master

jobs:
  analyze-sources:
    runs-on: ubuntu-latest
    
    steps:
      - name: Checkout code (PR branch)
        uses: actions/checkout@v4
          
      - name: Detect sources
        id: detect
        run: |
            # List files
            ls -la

            # Read code
            cat get_ip.py
