name: Playing with variables

on:
  workflow_dispatch:
    inputs:
      customer:
        description: 'Customer Name'
        required: true
      version:
        description: 'Version Number'
        required: true

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  prepare:
    runs-on: ubuntu-latest
    outputs:
      KEY1: ${{ steps.generate-name.outputs.key1 }}

    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Create Release Branch
        run: |
          echo "Customer is ${CUSTOMER}"
          echo "Version is ${VERSION}"
        env:
          CUSTOMER: ${{ github.event.inputs.customer }}
          VERSION: ${{ github.event.inputs.version }}

      - name: Generate Name
        id: generate-name
        run: echo "key1=value1" >> "$GITHUB_OUTPUT"
        
  printing:
    runs-on: ubuntu-latest
    needs: prepare

    steps:
      - name: Print
        run: |
          echo "Key is ${KEY1}"
        env:
          KEY1: ${{ needs.prepare.outputs.KEY1 }}
